<?xml version='1.0' encoding='utf-8'?>
<widget id="com.moonlight.rose" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>月光蔷薇学园</name>
    <description>一款百合向视觉小说游戏</description>
    <author email="support@moonlight-rose.com" href="https://moonlight-rose.com">月光蔷薇学园制作组</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="BackgroundColor" value="0xff1a0f2e" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="33" />
    </platform>
</widget>
